[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
mysql-connector-python= "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[dev-packages]
