cachetools==3.1.1
certifi==2021.10.8
charset-normalizer==2.0.10
cssselect==1.1.0
cssutils==1.0.2
idna==3.3
lxml==4.7.1
mysql-connector-python==8.0.28
passlib==1.7.4
premailer==3.10.0
protobuf==3.17.3
pyasn1==0.4.8
pycrypto==2.6.1
PySimpleValidate==0.2.12
python-dotenv==0.18.0
requests==2.27.1
rsa==4.7.1
simple-term-menu==1.4.1
six==1.16.0
stdiomask==0.0.6
urllib3==1.26.8
yagmail==0.15.277
